/* 載入字型 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* 設定顏色變數 */
$brand-color: #FF6600;
$Primary: #0062FF;
$Secondary: #6C757D;
$Success: #3DD598;
$Warning: #FFC542;
$Error: #FC5A5A;
$orange: #FF974A;
$light-blue1: #50B5FF; 
$light-blue2: #E6ECF0; 
$green: #82C43C;
$purple: #A461D8;
$pink: #FF9AD5;
$white: #FFFFFF;
$black: #171725;
$darkgray: #44444F;
$gray1: #696974;
$gray2: #92929D;
$gray3: #B5B5BE;
$gray-white1: #D5D5DC;
$gray-white2: #E2E2EA;
$gray-white3: #F1F1F5;
$near-white: #FAFAFB;

/* reset css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

h1,
h2 {
  font-weight: bold;
}
h3,
h4,
h5 {
  font-weight: medium;
}
h1 {
  font-size: 68px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
button[disabled] {
  pointer-events: none;
}
input {
  padding: 0;
}
input:required {
  box-shadow: none;
}
input:invalid {
  box-shadow: none;
}

%btn-style {
  height: 40px;
  background: $brand-color;
  color: $white;
  border-radius: 50px;
}

%btn-unfollowed-style {
  height: 40px;
  background: $white;
  color: $brand-color;
  border-radius: 50px;
  border: 1px $brand-color solid;
}